/** Buttons
===========================================================================
Button styles can be applied to anything by applying the `_button` class.
As a convention, `button` elements should be used for actions and anchors
(`a`) for navigation. For instance, "Download" should be a `button` while
"recent activity" should be an anchor. */


/** Core styles
---------------------------------------------------------------------------

    <button class="_button">button element</button>
    <input type="submit" class="_button" value="input element">
    <a href="#" class="_button">anchor element</a>
    <span class="_button">span element</span>
*/

._button {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0.4em 1em;
    vertical-align: middle;
    white-space: nowrap;

    font-family: inherit;
    font-size: 0.9em;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Remove inner padding and border from buttons in Firefox 4+. */
._button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/** States
---------------------------------------------------------------------------

    <button class="_button :hover">Hover</button>
    <button class="_button :focus">Focus</button>
    <button class="_button :active">Active</button>
    <button class="_button" disabled>Disabled</button>
*/

._button:active,
._button:focus,
._button:hover {
    text-decoration: none;
    outline: 0;
}
._button._is-disabled,
._button[disabled] {
    cursor: default;
    opacity: 0.75;
}


/**  Sizes
---------------------------------------------------------------------------

    <button class="_button _button-xsmall">Smallest</button>
    <button class="_button _button-small">Small</button>
    <button class="_button">Default</button>
    <button class="_button _button-large">Large</button>
    <button class="_button _button-xlarge">Largest</button>
*/

._button-xl {
    /* slightly less padding to reduce height */
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1.2em;
}
._button-l {
    font-size: 1.0em;
}
/* Default */
._button-m {
    font-size: 0.9em;
}
._button-s {
    font-size: 0.72em;
    font-weight: bold;
}
._button-xs {
    font-size: 0.6em;
    font-weight: bold;
    text-transform: uppercase;
}
