/** Embedded content
===========================================================================
Images, videos, iframes.*/

._embed {
    height: auto;
    max-width: 100%;
}
._embed img {
    border: 0;
    max-width: 100%;
    /* Fix for [disappearing images in IE 8](http://www.456bereastreet.com/archive/201202/using_max-width_on_images_can_make_them_disappear_in_ie8/). */
    width: auto\9;
    /* Remove the gap between image and container. */
    vertical-align: middle;
}
._embed-circle {
    overflow: hidden;
    border-radius: 999px;
}
