/** User Interface elements
--------------------------------------------------------------------------
Reset margins, paddings, link and list styles by adding the `ui` class to
elements such as menus and toolbars.

    <nav class="_ui">
      <p>Paragraph
      <ul>
        <li>List
        <li><a href="#">Link</a>
      </ul>
    </nav>
*/
._ui, ._ui * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


._reset:hover,
._reset:focus,
._reset:active,
._reset {
    display: inline;
    padding: 0;
    border: 0;
    margin: 0;
    background: transparent;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    box-shadow: none;
    text-shadow: none;
}
