/** Normalize 
===========================================================================
Styles defined here should always be prefixed with the `_` class.
Remember that this will increase the specificity of a selector, so only
bug fixes or styles that are *very* generic should be added here.

Most styles are instead normalized using more specific classes. */

._ body, body._ {
    /* Don't allow long words to cause horizontal scrollbars. */
    word-wrap: break-word;
}


/** HTML5 elements
---------------------------------------------------------------------------
Set default styles in IE 8/9 and other older browsers. */

._ article, ._ aside, ._ details, ._ figcaption, ._ figure, ._ footer,
._ header, ._ hgroup, ._ nav, ._ section, ._ summary {
    display: block;
}
._ audio, ._ canvas, ._ video {
    display: inline-block;
}
._ [hidden] {
    display: none !important;
}


/** Typography
------------------------------------------------------------------------ */

/* Consistent font styling for inline monospace elements. */
._ code, ._ kbd, ._ samp, ._ var {
    font-family: monospace;
    font-size: 0.9em;
    font-style: normal;
}
._ pre {
    font-family: monospace;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.3;
}

/* Prevent `sub` and `sup` affecting `line-height`. */
._ sub, ._ sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
._ sup { top: -0.5em; }
._ sub { bottom: -0.25em; }

/* Not all abbreviations are initialisms, don't uppercase by default. */
._ abbr {
    font-style: normal;
    text-transform: none;
}
._ abbr[title] {
    cursor: help;
    border-bottom: 1px dotted;
}


/** Embedded content
------------------------------------------------------------------------ */

._ img {
    border: 0;
    max-width: 100%;
    height: auto;
    /* Fix for [disappearing images in IE 8](http://www.456bereastreet.com/archive/201202/using_max-width_on_images_can_make_them_disappear_in_ie8/). */
    width: auto\9;
    /* Remove the gap between images and their container. */
    vertical-align: middle;
}

._ svg:not(:root) {
    /* overflow displayed oddly in IE 9. */
    overflow: hidden;
}


/** Forms
------------------------------------------------------------------------ */

._ fieldset,
._ legend {
    /* Reset to allow usage without assuming styles. */
    margin: 0;
    padding: 0;
    border: 0;
}

._ input[type="checkbox"], input[type="radio"] {
    /* Remove excess padding in IE 8/9. */
    padding: 0;
}


/** Miscellaneous
------------------------------------------------------------------------ */

/* Remove most spacing between table cells. */
._ table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


/* `unselectable` is the IE way of specifying that an element's text cannot
be selected. Make sure other browsers get the same behaviour when the
attribute is used. */
._ [unselectable="on"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
