/** Text styles
======================================================================== */

._muted-strong { opacity: 0.5;  }
._muted        { opacity: 0.75; }
._muted-subtle { opacity: 0.9;  }

._b { font-weight: bold; }
._i { font-style: italic; }

._size-xxl { font-size: 3.815em; }
._size-xl  { font-size: 2.442em; }
._size-l   { font-size: 1.953em; }
._size-m   { font-size: 1.25em;  }
._size-s   { font-size: 1em;     }
._size-xs  { font-size: 0.8em;   }
._size-xxs { font-size: 0.64em;  }
