/** Text styles
===========================================================================
You should always try to use the proper semantic HTML element, but
sometimes you cannot determine semantics (such as with WYSIWYG output),
sometimes there are no suitable elements, and sometimes it's just not
convenient. */

._text-bold, ._b   { font-weight: bold; }
._text-italic, ._i { font-style: italic; }
._text-strike, ._s { text-decoration: line-through; }

/* Equivalent of `._ code', `._ kbd`, `._ samp` and `._ var`. */
._text-mono {
    font-style: monospace;
    font-size: 0.9em;
}

._text-upper { text-transform: uppercase; }
._text-lower { text-transform: lowercase; }


/* Instead of abusing default heading sizes, use semantic HTML and apply a
size class to it. These sizes follow a 1:1.25 ratio (skipping some steps).
*/
._size-xxl { font-size: 3.815em; }
._size-xl  { font-size: 2.441em; }
._size-l   { font-size: 1.953em; }
._size-m   { font-size: 1.25em;  }
._size-s   { font-size: 1em;     }
._size-xs  { font-size: 0.8em;   }
._size-xxs { font-size: 0.64em;  }

._muted-strong { opacity: 0.6;  }
._muted        { opacity: 0.75; }
._muted-subtle { opacity: 0.9;  }


/* Equivalent of `._ pre` */
._pre {
    font-family: monospace;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.3;
    /* Enable scroll if `max-height` is set */
    overflow-y: auto;
}

/* Text-alignment. See equivalent classes for non-text alignment in the
layout component. */
._text-center { text-align: center; }
._text-left   { text-align: left; }
._text-right  { text-align: right; }


/* Prevent text from wrapping onto multiple lines, and truncate with an
ellipsis. */
._truncate {
    max-width: 100%;
    /* Make sure that max-width really is 100% */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Override IE 8/9 `break-word` inheritance */
    word-wrap: normal;
}
